<body>
    <div class="main-content">
        {{>header}}
        <h2>{{name}} | Web Developer</h2>
        <p>This is your standard weather app. This was practice for learning how routes, static assets, templating, and API (both internal and external) work together in NodeJS. </p>

        

    </div>
    {{>footer}}
</body>

</html>