<body class="animate-area">

    <div class="main-content">
        {{>header}}
        <p class="subtitle">Search your city name or zip code below for the current forecast:</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="messageOne"></p>
        <p id="messageTwo"></p>
    </div>


    {{>footer}}
    <script src="./js/app.js"></script>
</body>

</html>