body {
  color: #333333;

  font-family: Arial, Helvetica, sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.animate-area {
  width: 560px;
  height: 400px;
  background-image: url(/img/night_sky.jpeg);
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animatedBackground 35s linear infinite;
}

.main-content {
  flex-grow: 1;
  color: white;
  padding: 20px;
  background-color: rgba(0, 255, 200, 0.05);
}
footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

header a {
  color: tomato;
  margin-right: 16px;
  text-decoration: none;
}

input {
  padding: 6px;
  border: 1px solid #cccccc;
}

button {
  font-size: 14px;
  padding: 6px;
  background-color: tomato;
  color: #ffffff;
}

.portrait {
  max-width: 250px;
  border-radius: 50px;
}

.subtitle {
  font-size: 1.2rem;
}
